
<div class="container-back d-flex justify-content-center align-items-center min-vh-100">
  <div class="card custom-card">
    <h1 class="text-center mb-4" style="color: #FE8F00;">Create Your Menu</h1>
    <%= render 'form' %>
  </div>
</div>
