<div class="container d-flex justify-content-center align-items-center min-vh-100">
  <div class="card custom-card">
    <h1 class="text-center mb-4">Create Your Menu</h1>
    <%= render 'form' %>
  </div>
</div>
