<div class="container d-flex justify-content-center align-items-center min-vh-100" style="margin-top: -50px; custom-form-spacing">
  <div class="card shadow-lg p-4 w-50 rounded">
    <h1 class="text-center mb-4 text-black">My Menu</h1>
    <%= render 'form' %>
  </div>
</div>
