// Specific CSS for your home-page

h1 {
  font-size: 3em;
  color: #4CAF50;
  margin: 0;
}

//#hero {
  //background: #fff;
  //padding: 2em;
  //border-radius: 10px;
  //box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  //width: 80%;
  //max-width: 100%;
  //margin-top: 1em;
//}

h2 {
  font-size: 2em;
  margin-bottom: 0.5em;
  color: #333;
  font-family: 'Georgia', serif;
  text-align: left;
  margin-left: 10%;
}

p {
  font-size: 1.2em;
  margin-bottom: 1.5em;
  color: #666;
  text-align: left;
  margin-left: 10%;
}

#concept {
  background-color: #fff;
  color: black;
}

