.photos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}

.photo {
  max-width: 30%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
