<h1>All Chefs</h1>

<div class="row">
  <% @users.each do |user| %>
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <div class="card-body">
          <h5 class="card-title"><%= user.name %></h5>
          <p><strong>Location:</strong> <%= user.location %></p>
          <%= link_to 'View Profile', user_path(user), class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  <% end %>
</div>
