<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('<%= asset_path('chef_banner.jpg') %>');">
  <div class="container">
    <h1><strong>Talented chefs & delicious meals</strong>, right at your home with just a <strong>click!</strong></h1>
    <% if user_signed_in? %>
      <p>Welcome to Chef Next Door</p>
    <% else %>
      <%= link_to "Register now", new_user_registration_path, class: "btn btn-warning mt-3" %>
    <% end %>
  </div>
</div>
