<div class="footer">
  <div class="footer-content">
    <!-- Section gauche : Icônes -->
    <div class="footer-links">
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
    </div>

    <!-- Section droite : Logo et texte -->
    <div class="footer-copyright">
      <%= image_tag "Chef_next_door.png", class: "footer-logo" %>
      <span>Chef Next Door <i class="fas fa-heart"></i></span>
    </div>
  </div>
</div>

