<h1>Welcome to the Home Chef Platform!</h1>

<h2>Our Chefs:</h2>
<ul>
  <% @chefs.each do |chef| %>
    <li>
      <strong><%= chef.name %></strong><br>
      <%= chef.specialties %>
    </li>
  <% end %>
</ul>
