.banner a.btn,
.btn-success,
.btn-discover {
  font-size: 18px;
  padding: 10px 20px;
  color: white;
  text-transform: uppercase;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  transition: transform 0.2s ease, background-color 0.3s ease;
  background-color: #28a745;
  width: auto;
}

.btn-discover {
  width: auto;
}

.btn-success:hover,
.btn-discover:hover {
  transform: scale(1.1);
  background-color: darkgreen;
}

.card .btn-discover {
  margin: 0 auto;
}
