.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
}
.avatar-img {
  width: 40px;  /* Définit une largeur spécifique */
  height: 40px; /* Définit une hauteur spécifique */
  object-fit: cover; /* Assure que l'image est bien proportionnée sans être déformée */
  border-radius: 50%; /* Rend l'image circulaire */

}

// Affichage du bloc map
#container-map {
  background-color: white;
  width: 100%;
  height: 520px;
  position: absolute;
  z-index: 2;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 5px;
  display: none;
}

.mapboxgl-map {
  width: 100%;
  height: 100%;
  border-radius: 6px;
}
